<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<display-name>StudentManagementSystem</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Student Registration -->
	<servlet>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<servlet-class>in.jatintech.controller.StudentRegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentRegisterServlet</servlet-name>
		<url-pattern>/studentRegister</url-pattern>
	</servlet-mapping>

	<!-- Student Login -->
	<servlet>
		<servlet-name>StudentLoginServlet</servlet-name>
		<servlet-class>in.jatintech.controller.StudentLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentLoginServlet</servlet-name>
		<url-pattern>/studentLogin</url-pattern>
	</servlet-mapping>

	<!-- Admin Panel -->
	<servlet>
		<servlet-name>AdminPanelServlet</servlet-name>
		<servlet-class>in.jatintech.controller.AdminPanelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminPanelServlet</servlet-name>
		<url-pattern>/adminDashboard</url-pattern>
	</servlet-mapping>

	<!-- Student Dashboard -->
	<servlet>
		<servlet-name>StudentDashboardServlet</servlet-name>
		<servlet-class>in.jatintech.controller.StudentDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentDashboardServlet</servlet-name>
		<url-pattern>/studentDashboard</url-pattern>
	</servlet-mapping>

	<!-- Logout -->
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>in.jatintech.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<!-- Add Student -->
	<servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>in.jatintech.controller.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/addStudent</url-pattern>
	</servlet-mapping>

	<!-- Search Student -->
	<servlet>
		<servlet-name>SearchStudentServlet</servlet-name>
		<servlet-class>in.jatintech.controller.SearchStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchStudentServlet</servlet-name>
		<url-pattern>/searchStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchStudentServlet</servlet-name>
		<url-pattern>/searchStudentDirect</url-pattern>
	</servlet-mapping>

	<!-- Update Student -->
	<servlet>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>in.jatintech.controller.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/updateStudent</url-pattern>
	</servlet-mapping>

	<!-- Final Update -->
	<servlet>
		<servlet-name>FinalUpdateStudentServlet</servlet-name>
		<servlet-class>in.jatintech.controller.FinalUpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FinalUpdateStudentServlet</servlet-name>
		<url-pattern>/finalUpdate</url-pattern>
	</servlet-mapping>

	<!-- Delete Student -->
	<servlet>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>in.jatintech.controller.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/deleteStudent</url-pattern>
	</servlet-mapping>

	<!-- View All Students -->
	<servlet>
		<servlet-name>ViewAllStudentsServlet</servlet-name>
		<servlet-class>in.jatintech.controller.ViewAllStudentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllStudentsServlet</servlet-name>
		<url-pattern>/viewAllStudents</url-pattern>
	</servlet-mapping>

	<!-- Dashboard -->
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>in.jatintech.controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>

</web-app>