# =========================
# Eclipse files
# =========================
.classpath
.project
.settings/

# =========================
# Compiled files
# =========================
bin/
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.iml

# =========================
# Server (Tomcat etc.)
# =========================
/apache-tomcat*/
*.war
*.ear

# =========================
# Temp files
# =========================
*.tmp
*.swp